<div>
  <div style="background-color: #f6f6f6;padding:0px" id="divContainer">
    <canvas #html5 style="background-color: red" height="200">
    </canvas>
    <canvas #css3 style="background-color: lightyellow" height="200">
    </canvas>
    <canvas #java style="background-color: #9bb915a1" height="200">
    </canvas>
    <canvas #csharp style="background-color: #ffc107" height="200">
    </canvas>
    <canvas #restful style="background-color: lightblue" height="200">
    </canvas>
    <canvas #angular1 style="background-color: pink" height="200">
    </canvas>
    <canvas #angular2 style="background-color: #e91e63" height="200">
    </canvas>
    <canvas #react style="background-color: lightgreen" height="200">
    </canvas>
  </div>
  <div class="flex-container">
    <div class="container4">
      <p>{{ candidatesDashboard.registeredCandidates }}
        <br/>
        <span>Registered Candidates</span>
      </p>
    </div>
    <div class="container4">
      <p>{{ candidatesDashboard.percentageOfFemaleCandidates }}%
        <br/>
        <span>Female Candidates</span>
      </p>
    </div>
    <div class="container4">
      <p>{{ candidatesDashboard.percentageOfMaleCandidates }}%
        <br/>
        <span>Male Candidates</span>
      </p>
    </div>
    <div class="container4">
      <p>{{ candidatesDashboard.percentageOfFreshers }}%
        <br/>
        <span>Candidates Freshers</span>
      </p>
    </div>
    <div class="container4">
      <p>{{ candidatesDashboard.candidatesRated }}
        <br/>
        <span>Candidates Rated</span>
      </p>
    </div>
    <div class="container4">
      <p>{{ candidatesDashboard.percentageOfFemaleCandidatesRated }}%
        <br/>
        <span>Female Candidates Rated</span>
      </p>
    </div>
    <div class="container4">
      <p>{{ candidatesDashboard.percentageOfMaleCandidatesRated }}%
        <br/>
        <span>Male Candidates Rated</span>
      </p>
    </div>
    <div class="container4">
      <p>{{ candidatesDashboard.percentageOfLevel1Candidates }}%
        <br/>
        <span>Level 1 Candidates</span>
      </p>
    </div>
    <div class="container4">
      <p>{{ candidatesDashboard.percentageOfLevel2Candidates }}%
        <br/>
        <span>Level 2 Candidates</span>
      </p>
    </div>
    <div class="container4">
      <p>{{ candidatesDashboard.percentageOfLevel3Candidates }}%
        <br/>
        <span>Level 3 Candidates</span>
      </p>
    </div>
  </div>
</div>