<div class="scrollable-skill-panel">
  <div class="category-title">Add Skill</div>
  <br>
  <form class="form-horizontal" #form="ngForm" (ngSubmit)="form">
    <div class="col-md-7 col-md-offset-2">
      <label for="skillName" class="col-md-2 control-label">Search</label>
      <div class="form-group">
        <div>
          <input type="text" class="form-control" id="skillName" name="skillName" #skill="ngModel" [(ngModel)]="searchSkill" placeholder="Search Skill"
            style="width:70%" autocomplete="off">
        </div>
      </div>
      <label for="skillName" class="col-md-2 control-label">Skill Name</label>
      <div class="form-inline">
        <div>
          <input type="text" class="form-control" id="skillName" name="skillName" #skill="ngModel" [(ngModel)]="skillName" placeholder="Enter skill name"
            style="width:60%" required autocomplete="off">
          <button type="submit" class="btn btn-success" (click)="submit(form)" [disabled]="skill.invalid">Submit</button>
          <a routerLink="/newempskill" class="btn btn-default">Cancel</a>
          <span class="help-block col-md-offset-2" *ngIf="skill.touched && skill.errors?.required">Please enter a Category</span>
        </div>
      </div>
    </div>
  </form>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="col-md-6 col-md-offset-3">
    <div class="form-inline" *ngFor="let skill of skills | skillFilter: searchSkill">
      <div>
        <div class="alert alert-info">
          <span class="category" [class.category-focus]="skill.isEdit" [id]="'spn' + skill.skillId" [attr.contenteditable]="skill.isEdit"
            [(contentEditableModel)]="skill.skillName">{{ skill.skillName }}</span>
          <div class="pull-right category-btns">
            <button class="btn btn-sm btn-warning" [ngClass]="{'btn-warning': !skill.isEdit, 'btn-success': skill.isEdit}" (click)="isEditOrSave(skill)">{{ skill.isEdit ? 'Update' : 'Edit' }}</button>
            <button class="btn btn-sm btn-danger" (click)="deleteSkill(skill)">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>