<div class="scrollable-panel">
  <table class="table table-striped table-hover">
    <thead class="thead-inverse">
      <tr>
        <th>Pic</th>
        <th>Status</th>
        <th>
          <input type="text" class="form-control input-sm" placeholder="Search By Name">
        </th>
        <th>
          <input type="text" class="form-control input-sm" placeholder="Search By Employee ID">
        </th>
        <th>
          <input type="text" class="form-control input-sm" placeholder="Search By Email ID">
        </th>
        <th>
          <input type="text" class="form-control input-sm" placeholder="Search By Mobile No">
        </th>
        <th>
          <input type="text" class="form-control input-sm" placeholder="Search By Strong Skills">
        </th>
        <th>
          <a class="btn btn-primary btn-sm" routerLink="/newempskill">Add New Associate</a>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let associate of associates">
        <td>
          <img [src]="associate.picture" style="width:30px;height:30px" *ngIf="associate.picture != ''">
        </td>
        <td>{{ associate.status }}</td>
        <td>{{ associate.name }}</td>
        <td style="width:15%">{{ associate.associateID }}</td>
        <td>{{ associate.email }}</td>
        <td>{{ associate.mobile }}</td>
        <td style="width:30%">{{ associate.skills }}</td>
      </tr>
    </tbody>
  </table>
</div>