<div class="scrollable-panel">
  <table id="associates">
    <thead>
      <tr>
        <th>Pic</th>
        <th>Status</th>
        <th>
          <input type="text" class="form-control input-sm" placeholder="Search By Name" [(ngModel)]="nameSearch">
        </th>
        <th>
          <input type="text" class="form-control input-sm" placeholder="Search By Employee ID" [(ngModel)]="empIdSearch">
        </th>
        <th>
          <input type="text" class="form-control input-sm" placeholder="Search By Email ID" [(ngModel)]="emailSearch">
        </th>
        <th>
          <input type="text" class="form-control input-sm" placeholder="Search By Mobile No" [(ngModel)]="mobNoSearch">
        </th>
        <th>
          <input type="text" class="form-control input-sm" placeholder="Search By Strong Skills" [(ngModel)]="strongSkillsSearch">
        </th>
        <th>
          <a class="btn btn-primary btn-sm" routerLink="/newempskill">Add New Associate</a>
        </th>
      </tr>
    </thead>
    <tbody style="">
      <tr *ngFor="let associate of associates | associateFilter: nameSearch:empIdSearch:emailSearch:mobNoSearch:strongSkillsSearch">
        <td>
          <img [src]="associate.picture" style="width:30px;height:30px" *ngIf="associate.picture != ''">
        </td>
        <td align="center"><div [ngClass]="{'green': associate.status == 'GREEN', 'blue': associate.status == 'BLUE', 'red': associate.status == 'RED'}" [tooltip]="associate.status == 'GREEN' ? 'Available for Allocation' : associate.status == 'BLUE' ? 'Allocation In-process' : 'Allotted and Tagged'"></div></td>
        <td>{{ associate.name }}</td>
        <td style="width:15%">{{ associate.associateID }}</td>
        <td>{{ associate.email }}</td>
        <td>{{ associate.mobile }}</td>
        <td style="width:30%">{{ associate.skills }}</td>
        <td align="center">
          <button class="btn btn-sm btn-info" tooltip="Edit"><span class="glyphicon glyphicon-pencil"></span></button>
          <button class="btn btn-sm btn-danger" tooltip="Delete"><span class="glyphicon glyphicon-remove"></span></button>
          <button class="btn btn-sm btn-warning" tooltip="View"><span class="glyphicon glyphicon-eye-open"></span></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>