<cruisecontrol xmlns:cb="urn:ccnet.config.builder">
  <project name="APP-SkillsTracker-Build" description="Skills Tracker Build" queue="Q1">
		<state type="state" directory="C:\CCNet\State\SkillsTracker" />
		<artifactDirectory>C:\CCNet\BuildArtifacts\SkillsTracker</artifactDirectory>
		<tasks>
			<nant>
				<executable>nant.exe</executable>
				<baseDirectory>F:\VisualStudioProjects\FSD\SkillsTracker\SkillsTracker.Build</baseDirectory>
				<buildArgs>BuildAndPackage</buildArgs>
				<buildFile>base.build</buildFile>
				<buildTimeoutSeconds>1200</buildTimeoutSeconds>
			</nant>
		</tasks>
		<triggers>
			<intervalTrigger name="continuous" seconds="3600" buildCondition="ForceBuild" initialSeconds="0"/>
		</triggers>
		<publishers>
			<xmllogger />
			<artifactcleanup cleanUpMethod="KeepLastXBuilds" cleanUpValue="50" />
		</publishers>
	</project>
	<project name="APP-SkillsTracker-Deploy" description="Skills Tracker Deploy" queue="Q2">
		<state type="state" directory="C:\CCNet\State\SkillsTracker" />
		<artifactDirectory>C:\CCNet\BuildArtifacts\SkillsTracker</artifactDirectory>
		<tasks>
			<nant>
				<executable>nant.exe</executable>
				<baseDirectory>F:\VisualStudioProjects\FSD\SkillsTracker\SkillsTracker.Build</baseDirectory>
				<buildArgs>DeployApplication</buildArgs>
				<buildFile>deploy.build</buildFile>
				<buildTimeoutSeconds>1200</buildTimeoutSeconds>
			</nant>
		</tasks>

		<publishers>
			<xmllogger />
			<artifactcleanup cleanUpMethod="KeepLastXBuilds" cleanUpValue="50" />
		</publishers>
	</project>

</cruisecontrol>