filename#@#Web.config
/configuration/appSettings/add[@key='ApiBaseURL']/@value#@#http://localhost/SkillsTracker/API
/configuration/connectionStrings/add[@name='SkillsTrackerContext']/@connectionString#@#Data Source=FSD;Initial Catalog=SkillsTrackerProd;Integrated Security=True
/configuration/log4net/appender/file/@value#@#C:\SkillsTrackerLogs\log.txt