filename#@#Web.config
/configuration/appSettings/add[@key='ResultsPostDataUserName']/@value#@#AUTHOAUDIT
/configuration/appSettings/add[@key='ResultsPostDataPassword']/@value#@#716973E9DDD8EB5846B783D3982E6C6E
/configuration/system.serviceModel/client/endpoint[@name="BasicHttpBinding_IEnrollment"]/@address#@#http://10.215.112.60:8080/AuthoAuditServices/SORService.svc
/configuration/appSettings/add[@key='BatchFilesPath']/@value#@#\\10.215.112.62\IntelliMods-Docs\AuthoAudit\BatchFiles
/configuration/appSettings/add[@key='SkinnyFilesPath']/@value#@#\\10.215.112.62\IntelliMods-Docs\AuthoAudit\Images\Archive\
/configuration/appSettings/add[@key='AuthoAuditShipmentFinaliseTransactions']/@value#@#\\10.215.112.62\IntelliMods-Docs\AuthoAudit\MessageTransactions\IDEA_FINALIZED
/configuration/appSettings/add[@key='LogPath']/@value#@#\\10.215.112.62\Log\AuthoAudit\Web
/configuration/appSettings/add[@key="MailTemplateFolderPath"]/@value#@#\\10.215.112.62\IntelliMods-Docs\AuthoAudit\Templates_DO_NOT_DELETE\MailNotification
/configuration/appSettings/add[@key='SaveFilesPath']/@value#@#\\10.215.112.62\IntelliMods-Docs\AuthoAudit\SaveFiles